<div class="dashboard">
	<div class="row">
		<div class="col-sm-5 actions">
			<div *ngIf="projectsSelect.length > 0" class="filter-select">
				<mat-form-field appearance="fill">
					<mat-label>Project</mat-label>
					<mat-select
						[(ngModel)]="project_id"
						(selectionChange)="filterTasks();"
						name="project"
					>
						<mat-option *ngFor="let project of projectsSelect" [value]="project.id">
							{{ project.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="col-sm-5 actions">
			<div *ngIf="activitiesSelect.length > 0" class="filter-select">
				<mat-form-field appearance="fill">
					<mat-label>Activity</mat-label>
					<mat-select
						[(ngModel)]="activity_id"
						(selectionChange)="filterTasks();"
						name="activity"
					>
						<mat-option *ngFor="let activity of activitiesSelect" [value]="activity.id">
							{{ activity.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="col-sm-1 actions">
			<span class="action" (click)="clearFilters();"><i class="fa fa-window-close"></i></span>
		</div>
		<div class="col-sm-1 actions right">
			<span class="action" (click)="refresh();"><i class="fa fa-sync"></i></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<app-task-list
				statusIcon="list-alt"
				[status]="status['todo']"
				[tasks]="todo"
				[showAdd]="true"
			></app-task-list>
		</div>
		<div class="col-md-4">
			<app-task-list
				statusIcon="hammer"
				[status]="status['wip']"
				[tasks]="wip"
			></app-task-list>
		</div>
		<div class="col-md-4">
			<app-task-list
				statusIcon="check-circle"
				[status]="status['done']"
				[tasks]="done"
			></app-task-list>
		</div>
	</div>
</div>
