<nav class="nav az-navbar fixed-top">
	<a class="navbar-brand" routerLink="/" (click)="closeSubMenus()">
		<img src="assets/images/nav_logo.png" alt="Logo Desktop" class="d-md-block nav-logo-full d-none"> 
		<img src="assets/images/nav_logo.png" alt="" class="d-md-none"> 
	</a>
	<div id="lines" class="transition" (click)="toggleMenu()"></div>
	
	<ul class="nav right-section">
		<li class="nav-item">
			<div class="dropdown float-right user-menu">
				<a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
						<!--img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img"-->
						<span class="d-lg-inline d-none">user name</span>
				</a>

				<ul class="dropdown-menu">
					<li class="user-info">
						<!--img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img"-->
						<p>
							USER
						</p>
					</li>
					<a class="dropdown-item" [routerLink]="['/app/profile/me']"><i class="fa fa-user"></i>Minha Conta</a>
					<!--a class="dropdown-item" routerLink="Settingsttings"><i class="fa fa-cog"></i>Settings</a>
					<a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a-->
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i>Log out</a>
				</ul>
			</div>
		</li>
	</ul>

</nav>
