@import "variables.scss";
@import "mixins.scss";

.hide-mobile {
	@include mobile { display: none; }
}
.hide-tablet {
	@include tablet { display: none; }
}
.hide-desktop {
	@include desktop { display: none; }
}
.show-mobile {
	@include tablet { display: none; }
	@include desktop { display: none; }
}
.show-tablet {
	@include mobile { display: none; }
	@include desktop { display: none; }
}
.show-desktop {
	@include mobile { display: none; }
	@include tablet { display: none; }
}

body {
	--ion-background-color: var(--app-background-page-color) !important;
}

.center {
	text-align: center;
}

.drop-shadow {
	box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 25%);
}

ion-list, ion-item, ion-item .item-native {
	background-color: var(--app-background-color);
}

