ion-list, ion-item, ion-content {
	background-color: var(--malte-menu-background);
	--background: var(--malte-menu-background);
	color: var(--ion-color-light);
	ion-icon {
		color: var(--ion-color-light);
	}
}

ion-list-header {
	margin-bottom: 30px;
	text-align: center;
}

.nav-logo {
	height: 60px;
}

ion-item:hover {
	--background: var(--ion-color-dark-shade);
	ion-label {
		color: var(--ion-color-light);
		font-weight: bold;
	}
}

ion-menu {
	--background: var(--app-menu-background);
	width: 200px;
}

ion-router-outlet {
	padding: 20px;
}

