ion-title {
	&.hasTitle {
		text-align: center;
		img.logo {
			height: 30px;
		}
	}
	.basic-header-title {
		margin-left: 10px;
		margin-top: 0px;
		position: absolute;
		--color: var(--ion-color-light);
	}
}

ion-toolbar {
	--background-color: var(--app-header-color);

	&.small {
		--min-height: 30px!important;
		height: 32px;

		ion-title {
			padding: 0;
			width: 100%;
			img.logo {
				height: 30px;
			}
		}
	}

}

