<ion-toolbar [ngClass]="extraClass" color="dark">
	<ion-buttons slot="start" *ngIf="menuBtn">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-buttons slot="start" *ngIf="!menuBtn">
		<ng-content select="[slot-start]"></ng-content>
	</ion-buttons>
	<ion-title [class.hasTitle]="(title != null)">
		<img src="{{logo}}" class="logo logo-home" />
		<span class="basic-header-title" *ngIf="title">
			| {{title}}
		</span>
	</ion-title>
	<ion-buttons slot="end">
		<ng-content select="[slot-end]"></ng-content>
	</ion-buttons>
</ion-toolbar>
